<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zividig.ziv">

    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <permission
        android:name="getui.permission.GetuiService.${applicationId}"
        android:protectionLevel="normal"/>

    <!-- 小米推送 -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <permission
        android:name="com.zividig.ziv.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="com.zividig.ziv.permission.MIPUSH_RECEIVE"/>

    <application
        android:name=".main.ZivApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="${app_icon}"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="${BaiDu_Api_key_value}"/>

        <activity
            android:name=".main.SplashActivity"
            android:alwaysRetainTaskState="true"
            android:theme="@style/MyAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".function.RealTimeShow"
            android:launchMode="singleTop"/>
        <activity
            android:name=".function.CarInfo"
            android:launchMode="singleTop"/>
        <activity android:name=".function.MyPicture"/>
        <activity android:name=".function.ShowPicture"/>
        <activity
            android:name=".function.ElectronicFence"
            android:launchMode="singleTop"/>
        <activity
            android:name=".function.TrackQuery"
            android:launchMode="singleTop"/>
        <activity android:name=".main.Register"/>
        <activity
            android:name=".function.CarLocation"
            android:launchMode="singleTop"/>
        <activity android:name=".function.TestShareVideo"/>
        <activity android:name=".main.FindPassWord"/>
        <activity android:name=".function.TrackQueryDateChoose"/>
        <activity android:name=".main.Login"/>
        <activity android:name=".function.MyDevice"/>
        <activity android:name=".function.About"/>
        <activity android:name=".function.MyAccountInfo"/>
        <activity
            android:name=".function.AddDevice"
            android:exported="true"/>
        <activity android:name=".function.LightColor"/>
        <activity android:name=".function.MessageMapShow"/>
        <activity android:name=".function.CxllActivity"/>
        <activity android:name=".function.Language"/>


        <!-- 百度地图服务 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>

        <!-- 获取网络信息的服务 -->
        <service
            android:name=".service.NetWorkTypeService"
            android:enabled="true"
            android:exported="true"/>

        <!-- 个推Receiver -->
        <!-- 配置SDK核心服务 -->
        <service
            android:name="com.igexin.sdk.PushService"
            android:exported="true"
            android:label="NotificationCenter"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.service.message"/>
            </intent-filter>
        </service>

        <receiver android:name="com.igexin.sdk.PushReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="com.igexin.sdk.action.refreshls"/>
                <action android:name="android.intent.action.MEDIA_MOUNTED"/>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>

        <!-- <service android:name=".getui.GetuiIntentService"/> -->
        <service
            android:name=".getui.GetuiPushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice">
        </service>

        <!-- 通知服务 -->
        <service
            android:name=".service.NotificationService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>

        <!-- 小米推送 -->
        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true"
            android:process=":pushservice"/>
        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":pushservice"/>
        <!-- 注：此service必须在3.0.1版本以后（包括3.0.1版本）加入 -->
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true"/>
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true"/>
        <!-- 注：此service必须在2.2.5版本以后（包括2.2.5版本）加入 -->
        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER"/>
            </intent-filter>
        </receiver>

        <!-- XiaoMiMessageReceiver推送广播接收类 -->
        <receiver
            android:name=".service.XiaoMiMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR"/>
            </intent-filter>
        </receiver>

        <!-- 日志服务 -->
        <service
            android:name=".service.LogService"
            android:enabled="true"
            android:exported="true">
        </service>


    </application>

</manifest>