<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zividig.ziv">

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name=".main.ZivApp"
        android:allowBackup="true"
        android:icon="@mipmap/ziv_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="siDzHaqLxC9hD6UIWLbqbUyBVmPx3Bm8" />

        <activity
            android:name=".main.SplashActivity"
            android:theme="@style/MyAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.MainActivity" />
        <activity android:name=".function.RealTimeShow" />
        <activity android:name=".function.CarInfo" />
        <activity android:name=".function.MyPicture" />
        <activity android:name=".function.ShowPicture" />
        <activity android:name=".function.ElectronicFence" />
        <activity android:name=".function.TrackQuery" />
        <activity android:name=".main.Register" />
        <activity android:name=".function.CarLocation2" />
        <activity android:name=".function.TestShareVideo" />
        <activity android:name=".main.FindPassWord" />
        <activity android:name=".function.TrackQueryDateChoose" />
        <activity android:name=".main.Login" />
        <activity
            android:name=".function.AddDevice"
            android:exported="true" />

        <!-- WIFI直连相关Activity -->
        <activity android:name=".wifi.WifiLogin" />

        <!-- 违章查询相关Activity -->
        <activity android:name=".weizhang.activity.WeiZhangMainActivity" />
        <activity android:name=".weizhang.activity.CityList" />
        <activity android:name=".weizhang.activity.ProvinceList" />
        <activity android:name=".weizhang.activity.ShortNameList" />
        <activity android:name=".weizhang.activity.WeizhangResult" />

        <service android:name="com.cheshouye.api.client.WeizhangIntentService" />
        <!-- 百度地图服务 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <service
            android:name="com.baidu.trace.LBSTraceService"
            android:enabled="true"
            android:exported="true" />

        <!-- 获取位置的服务 -->
        <service
            android:name=".service.LocationService"
            android:enabled="true"
            android:exported="true" />

        <!--获取网络信息的服务-->
        <service
            android:name=".service.NetWorkTypeService"
            android:enabled="true"
            android:exported="true"/>

        <!-- 获取位置信息的广播 -->
        <!-- <receiver android:name=".service.LocationBroadcast"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.zividig.ziv.service.location" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->


        <!-- 配置第三方Receiver -->
        <receiver
            android:name=".getui.GetuiReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.${GETUI_APP_ID}" />
            </intent-filter>
        </receiver>


    </application>

</manifest>